.parent {
  height: 400px;
  width: 400px;
  background-color: purple;
  border-radius: 5px;
  position: relative;
}
.child1 {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
  /* bottom: 40%;
  right: 40%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-95px);
  transition: transform 1.1s ease-in-out;
}
